* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Simpsonfont';
  src: local('Simpsonfont'), url('./assests/Simpsonfont.woff') format('woff');
}

body {
  font-family: 'Simpsonfont', 'Franklin Gothic Medium', sans-serif;
  font-size: 16px;
}

button {
  font-family: 'Simpsonfont', 'Franklin Gothic Medium', sans-serif;
  cursor: pointer;
  width: 90%;
  border: none;
  background-color: hsl(200, 87%, 47%);
  color: hsl(56, 100%, 49%);
  box-shadow: 3px 3px 4px #193b6e;
  border-radius: 5px;
  padding: 0.43rem;
  transition: 300ms;
}

button:hover {
  background-color: hsl(13, 87%, 57%);
  transform: scale(1.05);
}

ul {
  list-style: none;
}

#principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(47, 94%, 61%, 0.5);
  width: 100%;
}

header {
  background-color: hsl(219, 79%, 66%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.93rem 3.12rem;
}

#logo {
  font-size: 1.5em;
  font-weight: 700;
  color: hsl(56, 100%, 49%);
  text-shadow: 4px 5px 3px hsl(0, 0%, 0%);
}

#n-episodes {
  font-size: 1.5em;
  font-weight: 800;
  color: hsl(56, 100%, 49%);
  text-shadow: 2px 2px 1px hsl(0, 0%, 0%);
  transition-duration: 300ms;
}

#nro {
  font-size: 1.5em;
  font-weight: 800;
  color: hsl(13, 87%, 57%);
  text-shadow: 2px 2px 1px hsl(0, 0%, 0%);
}

/* .menu {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.56em;
}

.menu ul li:hover {
  transform: scale(1.1);
}

header span {
  display: none;
  color: hsl(13, 87%, 57%);
}

.link-item {
  text-decoration: none;
  font-size: 0.87em;
  font-weight: 800;
  color: hsl(56, 100%, 49%);
  text-shadow: 2px 2px 1px hsl(0, 0%, 0%);
  transition-duration: 300ms;
}

.link-item:hover {
  color: hsl(0, 0%, 100%);
} */

main {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.93em;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2em;
  font-weight: 800;
  color: hsl(56, 100%, 49%);
  text-shadow: 4px 5px 3px hsl(0, 0%, 0%);
}

#dinamic-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.62em;
  border: 1px solid hsl(13, 87%, 57%);
  border-radius: 0.62em;
  padding: 0.43em;
  background-color: hsl(98, 47%, 57%);
}

.thumbnail-image {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.cont-name-like {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.episode {
  margin-left: 0.62em;
  font-size: 1em;
}

.n-likes {
  margin-right: 0.62em;
  font-size: 0.87em;
  width: max-content;
}

.episode,
.n-likes {
  font-weight: 800;
}

.cont-like {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.31em;
}

.like {
  width: 2em;
  height: auto;
  cursor: pointer;
  transition: 300ms;
}

.like:hover {
  transform: scale(1.5);
}

.nro-like {
  color: hsl(13, 87%, 57%);
}

footer {
  width: 100%;
  background-color: hsl(98, 47%, 57%);
  padding: 1.25em;
  margin-top: 1.25em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: hsl(0, 0%, 1%);
  text-align: center;
}

#popup {
  display: none;
  position: fixed;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 7px;
  top: 0;
  left: 0;
  background-color: rgb(127, 255, 212, 1);
  width: 100vw;
  height: 120vh;
  z-index: 1000;
}

.show {
  display: flex !important;
}

.img-header {
  display: flex;
  flex-direction: column;
  width: 35%;
}

#cross-btn {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  font-size: 50px;
  right: 20px;
  top: 20px;
  color: blue;
  width: 10%;
}

#img-popup {
  width: 90%;
  height: auto;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  align-items: center;
  justify-content: space-between;
}

#addForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
