* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Simpsonfont' ;
  src: local('Simpsonfont'), url('./assests/Simpsonfont.woff') format('woff');
}

body {
  font-family: 'Simpsonfont', 'Franklin Gothic Medium', sans-serif;
  font-size: 16px;
}

button {
  font-family: 'Simpsonfont', 'Franklin Gothic Medium', sans-serif;
  cursor: pointer;
  width: 90%;
  /* border: 1px solid #000; */
  border: none;
  background-color: #109BE0;
  color: #F9EA00;
  box-shadow: 2px 2px #84C55F;
  border-radius: 5px;
  padding: 0.43rem;
  transition: 300ms;
}

button:hover {
  background-color: #F15C31;
  transform: scale(1.05);
}

ul {
  list-style: none;
}

#principal {
  /* background-image: url(./assests/bg-simpson.jpg);
  background-repeat: repeat;
  background-size: cover; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(249, 208, 61, 0.5);
  width: 100%;
  /* padding: 30px 0; */
  /* height: 100vh; */
}

header {
  background-color: cornflowerblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:100%;
  padding: 15px 50px;
  /* position: sticky;
  top: 0;
  left: 0;
  z-index: 999; */
}

#logo {
  font-size: 24px;  
  font-weight: 700;
  color: #F9EA00;
  text-shadow: 4px 5px 3px #000000;
}

.menu {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.menu ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
}

.menu ul li:hover {
  transform: scale(1.1);
}

header span{
  display: none;
  color: #F15C31;
}

.link-item {
  text-decoration: none;
  font-size: 14xp;
  font-weight: 800;
  color: #F9EA00;
  text-shadow: 2px 2px 1px #000000;
  transition-duration: 300ms;
}

.link-item:hover {  
  color: #fff;
  /* transform: scale(1.1); */
}

main {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 32px;
  font-weight: 800;
  color: #F9EA00;
  text-shadow: 4px 5px 3px #000000;
}

#dinamic-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;  
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  /* height: auto; */
  gap: 10px;
  border: 1px solid #F15C31;
  border-radius: 10px;
  padding: 7px;
  background-color: #84C55F;
  /* width: 60%; */
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.thumbnail-image {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.cont-name-like {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.episode {
  margin-left: 10px;
}

.n-likes{
  margin-right: 10px;
}

.episode, 
.n-likes {
  font-size: 14px;
  font-weight: 500;
}

.cont-like {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.like {
  width: 32px;
  height: auto;
  cursor: pointer;
  transition: 300ms;
}

.like:hover {
  transform: scale(1.2);
}

.nro-like {
  color: #F15C31;
}

footer {
  width: 100%;
  background-color: #84C55F;
  padding: 20px;
  margin-top: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #01957D;
  text-align: center;
}
